#selectYourHero {
	height: 305px;
	border: 1px solid black;
}

#characterStats {
	height: 305px;
	border: 1px solid black;
}

#yourCharacter {
	height: 120px;
	border: 1px solid black;
}

#enemiesAvailable {
	height: 120px;
	border: 1px solid black;
}

#fightSection {
	height: 250px;
	border: 1px solid black;
}

#textArea {
	height: 120px;
	border: 1px solid black;
}

.characterBox {
	height: 115px;
	width: 115px;
	border: 1px solid green;
	display: inline-block;
}

img {
	height: 115px;
	width: 115px;
	border: 1px solid black;
}